<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!--配置UserDao-->
    <bean id="userDaoBean" class="com.shaluy.spring6.dao.UserDao"/>


    <!--配置UserService-->
    <bean id="userServiceBean" class="com.shaluy.spring6.service.UserService">
        <!-- 想让Spring调用对应的set方法，需要配置property标签 -->
        <!-- name属性怎么指定值：set方法的方法名，去掉set，然后把剩下的单词首字母变小写，写到这里。-->
        <!-- ref翻译为引用。英语单词：references。ref后面指定的是要注入的bean的id。-->
        <!--<property name="mySQLUserDao" ref="userDaoBean"/>-->
        <property name="userDao" ref="userDaoBean"/>
        <property name="vipDao" ref="vipDaoBean"/>
    </bean>

    <!--配置VipDao-->
    <bean id="vipDaoBean" class="com.shaluy.spring6.dao.VipDao"/>

</beans>